.population_controls {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    padding: 2rem;

    p > button {
        background-color: rgb(21, 21, 21);
        border: none;
        cursor: pointer;
        padding: .5rem;
        color: white;
        border-radius: 10px;
    }
}

@media (max-width: 768px) {
    .population_controls {
        p > label {
            font-size: 1.5rem;
        }
    }
}